*{
  font-family:Verdana, Geneva, Tahoma, sans-serif !important;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 90vh; 
    margin: 0 auto ;
    background: linear-gradient(#ffffff,#fdfdfd,#ffffff);
    
  }
  
  .header {
    position: sticky;
    top: 0;
    left: 0;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 16px;
    background-color: #ffffff;
    text-transform: capitalize;
  }
  .e-btn{
    margin-left: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(254, 164, 164);
    cursor: pointer;
  }
  .e-btn:hover{
    scale: .98;
    transition: .3;
  }
  span{
    font-size: 15px;
    color:#007bff;
  }
  
  .section {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 16px;
    overflow-y: auto; 
    margin-bottom: 80px; 
    scrollbar-width: none;
  }
  
  .messages {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .message {
    margin: 8px 0;
    padding: 8px;
    border-radius: 4px;
    max-width: 80%;
  }
  .message{
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }
  
  .you-msg {
    align-self: flex-start;
    background-color: #d1e7dd;
    text-align: left;
  }
  
  .other-msg {
    align-self: flex-end;
    background-color: #f8d7da;
    text-align: right;
  }
  
  .send-msg {
    position: fixed;
    bottom: 20px;
    left: 0 ;
    width: 100%;
    background: transparent;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
 form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: space-between;
 }
  .msg {
    flex-basis: 65%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .send {
    flex-basis: 25%;
    padding: 9px 16px;
    margin-left: 5px;
    border: none;
    border-radius: 4px;
    background-color: #dfe9f3;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-weight: bold;
  }
  @media screen and (max-width:700px) {
    .container {
      width: 100%;
      display: flex;
      flex-direction: column;
      height: 100vh; 
      margin: 0;

    }
    body{
      margin: 0;
      padding: 0;
    }
    .send-msg {
      position: fixed;
      bottom: 10px;
      left: 0 ;
      width: 100%; 
    
      padding: 0px;
  
      display: flex;
      align-items: center;
      justify-content: center;
    
    }
   form{
      width: 100% !important;
      display: flex;
      justify-content: center;
      align-items: center;
   }
    .msg {
      flex-basis: 65%;
      padding: 8px;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 16px;
    }
    
    .send {
      flex-basis: 25%;
      padding: 9px 16px;
      border: none;
      border-radius: 4px;
      background-color: #dfe9f3;
      color: rgb(0, 0, 0);
      cursor: pointer;
      font-weight: bold;
    }
  }